<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

		<style>
			footer {
				background-color: #2E1A47;
				color: #FFFFFF;
				font-family: Arial, sans-serif;
			}
			.footer {
				padding: 20px 0;
			}
			.footer a {
				color: #FFFFFF;
				text-decoration: none;
			}
			.footer a:hover {
				text-decoration: underline;
			}
			.footer .logo {
				display: flex;
				align-items: center;
			}
			.footer .logo img {
				margin-right: 10px;
			}
			.footer .copyright {
				text-align: right;
			}
			.footer hr {
				border-top: 1px solid #FFFFFF;
				margin: 20px 0;
			}
		</style>
	</head>
	<footer>
		<div class="container footer" style="background-color:#2E1A47">
			<div class="row">
				<div class="col-md-2">
					<ul class="list-unstyled">
						<li>
							<a href="#">
								EPSI
							</a>
						</li>
						<li>
							<a href="#">
								Programmes
							</a>
						</li>
						<li>
							<a href="#">
								Admission
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-2">
					<ul class="list-unstyled">
						<li>
							<a href="#">
								Innovation Lab
							</a>
						</li>
						<li>
							<a href="#">
								Campus
							</a>
						</li>
						<li>
							<a href="#">
								Formation continue
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-2">
					<ul class="list-unstyled">
						<li>
							<a href="#">
								Travailler à l'EPSI
							</a>
						</li>
						<li>
							<a href="#">
								Mentions légales
							</a>
						</li>
						<li>
							<a href="#">
								Charte données personnelles
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-2">
					<ul class="list-unstyled">
						<li>
							<a href="#">
								Contact
							</a>
						</li>
						<li>
							<a href="#">
								Formulaire de réclamation
							</a>
						</li>
						<li>
							<a href="#">
								CGV
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4 text-end">
					<img src="{{ asset('images/epsi.png') }}" alt="EPSI" class="img-fluid" style="max-width: 200px;">
				</div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-md-12 text-end">
					<p class="copyright">
						@ Copyright 2021
					</p>
				</div>
			</div>
		</div>
	</footer>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</html></body></html>
